body{
    background-color: rgb(66, 165, 204);
    text-align: center;
}
h1{
    font-size: 30px;
}
h2{
font-size: 30px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 30px;
}
h6{
    font-size: 30px;
}